[submodule "scmrtos"]
	path = scmrtos
	url = https://github.com/scmrtos/scmrtos.git
[submodule "ugfx"]
	path = ugfx
	url = https://bitbucket.org/Tectu/ugfx.git
[submodule "HAL"]
	path = HAL
	url = https://github.com/legath/f4-hal.git
